.List_span {
  text-decoration: underline;
}
.List_button {
  background-color: rgb(227, 248, 248);
  /* box-shadow: 2px 2px 10px 3px #3bb7b7; */
  border: none;
  padding: 7px;
  width: 150px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 18px;
}
.List_item {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  width: 100%;
  align-items: center;
}
